.title_box h3 {font-size: 50px; text-align: center; line-height: .7;}
.title_box h3 span {font-size: 23px; text-align: center;}


.img_box {position: relative; display: flex; flex-wrap: wrap;}
ul {display: flex; flex-wrap: wrap; justify-content: center;}
li {width: 20%; list-style: none;}

li p {font-size: 20px; font-weight: 700; line-height: .7;}